#page-wrapper{
	padding:6em 5em;
}

.loading{
	text-align:center;
	color:#AFAFAF;
	font-size: 15px;
	font-family: Helvetica;
}

.loading:before,
.loading:after{
	content: "";
	display: inline-block;
	vertical-align: middle;
	margin: 0 0.7em;
	width: 10em;
	border-bottom: 3px solid #909090;

	-moz-animation: loading 3s forwards linear;
	-webkit-animation: loading 3s forwards linear;
	animation: loading 3s forwards linear;

	-moz-animation-iteration-count:infinite;
	-webkit-animation-iteration-count:infinite;
	animation-iteration-count:infinite;
}

/*Animation time*/
@-webkit-keyframes loading {
	0% {width: 0em; opacity:0.1}
	70% {width: 8em; opacity:1.0}
	100% {width: 10em; opacity:0.0}
}

@-moz-keyframes loading {
	0% {width: 0em; opacity:0.1}
	70% {width: 8em; opacity:1.0}
	100% {width: 10em; opacity:0.0}
}

@keyframes loading {
	0% {width: 0em; opacity:0.1}
	70% {width: 8em; opacity:1.0}
	100% {width: 10em; opacity:0.0}
}
