body {
	background-size:cover;
	background-repeat: no-repeat;
	background-color:#101010; 
	overflow: hidden;
}

/*-----title of site-----*/
h1{
	color: #909090; 
	font-size: 65px;
	font-family: Helvetica; 
}

#pageTitle{
	margin-left:2%;
}

h2,h3,h4,p{
	color: #909090; 
	font-family: Helvetica;
}

div{
	cursor: default;
}

/*-----matrixcontainer-----*/
.mainContainer{
	width:500px;
}

.matrixContainerSingle{
	margin-left:22%;
}

/* -----cell of matrix-----*/

.cell{
	cursor:pointer;
	border-radius: 5px;

	width: 20px;
	height: 20px;
	margin: 2px;
	padding: 2px;

	display:inline-flex;

	border:4px;
	background:#707070;  
}
#matrixContentContainer{
	margin-top: 4%;
}

.cell:hover{
	-webkit-transform: scale(1.3);
	background:#e6e6e6;
}

.cell.clicked {
	border:4px;
	color:#aaa;
	background:#e6e6e6;
}
/*----- animation of cell -----*/
.animation{
	-webkit-animation: hit 0.1s ease-in-out;
}

@-webkit-keyframes hit {
	from {
		background: rgba(255,255,255,0.5);
		opacity: 1;
		border-radius: 50%;
		-webkit-transform: scale3d(1,1,1);
	}
	to {
		background: rgba(255,255,255,0.5);
		opacity: 0.0;
		border-radius: 50%;
		-webkit-transform: scale3d(5,5,1);
	}
}

/*----- Tab Links -----*/
/* custom inclusion of right, left and below tabs */
.tabs-below > .nav-tabs,
.tabs-right > .nav-tabs,
.tabs-left > .nav-tabs {
	border-bottom: 0;
}

.tab-content > .tab-pane,
.pill-content > .pill-pane {
	display: none;
}

.tab-content > .active,
.pill-content > .active {
	display: block;
}

.tabs-below > .nav-tabs {
	border-top: 1px solid #ddd;
}

.tabs-below > .nav-tabs > li {
	margin-top: -1px;
	margin-bottom: 0;
}

.tabs-below > .nav-tabs > li > a {
	-webkit-border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	border-radius: 0 0 4px 4px;
}

.tabs-below > .nav-tabs > li > a:hover,
.tabs-below > .nav-tabs > li > a:focus {
	border-top-color: #ddd;
	border-bottom-color: transparent;
}

.tabs-below > .nav-tabs > .active > a,
.tabs-below > .nav-tabs > .active > a:hover,
.tabs-below > .nav-tabs > .active > a:focus {
	border-color: transparent #ddd #ddd #ddd;
}

.tabs-left > .nav-tabs > li,
.tabs-right > .nav-tabs > li {
	float: none;
}

.tabs-left > .nav-tabs > li > a,
.tabs-right > .nav-tabs > li > a {
	min-width: 74px;
	margin-right: 0;
	margin-bottom: 3px;
}

.tabs-left > .nav-tabs {
	float: left;
	margin-right: 19px;
	border-right: 1px solid #ddd;
}

.tabs-left > .nav-tabs > li > a {
	margin-right: -1px;
	-webkit-border-radius: 4px 0 0 4px;
	-moz-border-radius: 4px 0 0 4px;
	border-radius: 4px 0 0 4px;
}

.tabs-left > .nav-tabs > li > a:hover,
.tabs-left > .nav-tabs > li > a:focus {
	border-color: #eeeeee #202020 #eeeeee #eeeeee;
}

.tabs-left > .nav-tabs .active > a,
.tabs-left > .nav-tabs .active > a:hover,
.tabs-left > .nav-tabs .active > a:focus {
	border-color: #ddd transparent #ddd #ddd;
	*border-right-color: #ffffff;
	background-color: #202020;
	color:#909090;
}

.tabs-right > .nav-tabs {
	float: right;
	margin-left: 19px;
	border-left: 1px solid #ddd;
}

.tabs-right > .nav-tabs > li > a {
	margin-left: -1px;
	-webkit-border-radius: 0 4px 4px 0;
	-moz-border-radius: 0 4px 4px 0;
	border-radius: 0 4px 4px 0;
}

.tabs-right > .nav-tabs > li > a:hover,
.tabs-right > .nav-tabs > li > a:focus {
	border-color: #eeeeee #eeeeee #eeeeee #dddddd;
}

.tabs-right > .nav-tabs .active > a,
.tabs-right > .nav-tabs .active > a:hover,
.tabs-right > .nav-tabs .active > a:focus {
	border-color: #ddd #ddd #ddd transparent;
	*border-left-color: #ffffff;
}

.tab-links{
	margin-left:-110px;
	margin-top: 3%;
}

.nav-tabs{
	margin-top: 20%;
}
/*-----font Tabs-----*/

.tabText {
	font-size:16px;
	font-weight:600;
	color: #909090;
}

.tabText:hover{
	color:#606060;
}

.tabTextVertical{
	font-size:16px;
	font-weight:600;
	color: #CFCFCF;
}

.nav-justified{
	margin-top:5%;
}

.tab-links:after {
	display:block;
	clear:both;
	content:'';
}

.tab-links a:hover {
	background:#fff;
	color:#4c4c4c;
	opacity: 0.8;
	text-decoration:none;
}

li.active a, li.active a:hover {
	background:#fff;
	color:#101010 ;
	opacity: 0.8;
	text-decoration:none;
}

/*----- Beat Timeline -----*/
.timeLine{
	margin-top: 1%;
	width:100%;
	height: 5px;
}

.timeLineTab{
	height:100%;
	margin-right:0.5%;
	margin-left:0.5%;
	background-color: #505050;
	float:left;
}

.timeLineTab.current{
	background-color:#909090;
}

/*----- Content of Tabs -----*/
.tab-content {
	padding:10px;
	border-radius:3px;
}

.tab-content-horizontal{
	background-color: #202020;
	margin-top: 1%;
}

.musicBtns {
    text-align: center;
    margin-top: 2%;
}

.ssingleMatrix{
	margin-top: 20%;
}


/* -----right Sidebar-----*/
#controlStation{
	width: 240px;
	margin-top: 5%;
} 
/*Volume Slider */
.output{
	font-size: 15px;
	font-family: Helvetica;
	color: #909090;  
}

.outputVol{
	color: #909090; 
	font-size: 15px;
	font-family: Helvetica; 
}
/*-----buttonlist right -----*/
.btnlist{
	margin-top: 40px;
	background:#585858; 

	width: 235px;
	float:both;
}

.btn-default.active{
	color: #FFFFFF ;
	background-color:#585858; 
}

.btn-default{
	font-weight: 600;
	background-color: #CFCFCF;
	border-color: #101010;
}

#exportButton{
	margin-top: 10%;
	margin-left: 40%;
}

.instrument{
	margin-left:1px;
	margin-right: 18px;
}

.instrument.active{
	color: #FFFFFF ;
	background-color:#585858; 
}

/*----- Preload / ImportExport Dialog -----*/
.modal-backdrop.in{
	background-color:#101010; 
}

.modal-content{
	background-color:#101010; 
}

.modal-body {
	text-align: center;
}

.modal-footer {
	text-align: center;
}

.modal-title {
	text-align: center;
}

.btn-default{
	background-color: #CFCFCF;
}	